/*! Puffanee Dialoger | (c) Puffanee | https://github.com/puffanee/Dialoger */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
  --dialoger-redalert-color: #f55353;
  --dialoger-greenalert-color: #47ce8a;
  --dialoger-bluealert-color: #29a0f0;
  --dialoger-orangealert-color: #eb8440;
  --dialoger-blackalert-color: #161616;
  --dialoger-notification-ms: 8000ms;
}

/* Toast Notifications */
.Dialoger__Toasts {
  display: flex;
  flex-direction: column;
  position: fixed;
  z-index: 9999;
  padding: 15px;
  box-sizing: border-box;
  width: auto;
  height: auto;
  gap: 10px;
  max-width: 35rem;
  transition: all 0.3s ease;
}

.Dialoger__Toasts.TopCenter {
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  align-items: center;
  justify-content: center;
}

.Dialoger__Toasts.BottomCenter {
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  align-items: center;
  justify-content: center;
}

.Dialoger__Toasts.LeftTop {
  top: 0;
  left: 0;
  align-items: flex-start;
}

.Dialoger__Toasts.RightTop {
  top: 0;
  right: 0;
  align-items: flex-end;
}

.Dialoger__Toasts.LeftBottom {
  bottom: 0;
  left: 0;
  align-items: flex-start;
}

.Dialoger__Toasts.RightBottom {
  bottom: 0;
  right: 0;
  align-items: flex-end;
}

.Dialoger__Toasts .Dialoger__Toast {
  display: flex;
  flex-direction: row;
  background-color: var(--dialoger-blackalert-color);
  padding: 16px 15px;
  border-radius: 1rem;
  color: #ffffff;
  align-items: center;
  animation-duration: 0.5s, 0.5s;
  animation-fill-mode: forwards;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  box-sizing: border-box;
  width: fit-content;
  transition: 0.3s ease;
  opacity: 1;
}

.Dialoger__Toasts .Dialoger__Toast .ToastMessage {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 1rem;
}

.Dialoger__Toasts .Dialoger__Toast .ToastIcon {
  width: 26px;
  height: 26px;
  margin-right: 10px;
  flex-shrink: 0;
}

.Dialoger__Toasts .Dialoger__Toast .ToastIcon svg {
  width: 26px;
  height: 26px;
}

.Dialoger__Toasts.TopCenter .Dialoger__Toast,
.Dialoger__Toasts.LeftTop .Dialoger__Toast,
.Dialoger__Toasts.RightTop .Dialoger__Toast {
  animation-name: slide-in-top, slide-out-top;
}

.Dialoger__Toasts.BottomCenter .Dialoger__Toast,
.Dialoger__Toasts.LeftBottom .Dialoger__Toast,
.Dialoger__Toasts.RightBottom .Dialoger__Toast {
  animation-name: slide-in-bottom, slide-out-bottom;
}

.Dialoger__Toasts.TopCenter .Dialoger__Toast,
.Dialoger__Toasts.LeftTop .Dialoger__Toast,
.Dialoger__Toasts.RightTop .Dialoger__Toast,
.Dialoger__Toasts.BottomCenter .Dialoger__Toast,
.Dialoger__Toasts.LeftBottom .Dialoger__Toast,
.Dialoger__Toasts.RightBottom .Dialoger__Toast {
  animation-delay: 0ms, var(--dialoger-notification-ms);
}

.Dialoger__Toasts .Dialoger__Toast.Danger {
  background-color: var(--dialoger-redalert-color);
}
.Dialoger__Toasts .Dialoger__Toast.Success {
  background-color: var(--dialoger-greenalert-color);
}
.Dialoger__Toasts .Dialoger__Toast.Information {
  background-color: var(--dialoger-bluealert-color);
}
.Dialoger__Toasts .Dialoger__Toast.Warning {
  background-color: var(--dialoger-orangealert-color);
}
.Dialoger__Toasts .Dialoger__Toast.Default {
  background-color: var(--dialoger-blackalert-color);
}

/* Custom Confirm */
.Dialoger__ConfirmOverlay {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(15px);
  z-index: 9998;
  top: 0;
  left: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  flex-direction: column;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
  animation-name: slide-in-top;
  opacity: 1;
  transition: 0.2s ease-in-out;
  transform: translateY(0);
  visibility: visible;
}

.Dialoger__ConfirmOverlay.Hide {
  opacity: 0;
  visibility: hidden;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
  animation-name: opacity-out;
}

.Dialoger__Confirm {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  padding: 20px;
  min-width: 500px;
  max-width: 500px;
  max-height: 90%;
  min-height: 180px;
  color: #090909;
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  animation-duration: 0.9s;
  animation-fill-mode: forwards;
  animation-name: slide-in-top;
  position: relative;
  box-sizing: border-box;
  z-index: 9999;
  opacity: 1;
  transition: 0.2s ease-in-out;
  transform: translateY(0);
  visibility: visible;
}

.Dialoger__Confirm .Confirm__Header {
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  box-sizing: border-box;
  height: 1.5em;
  user-select: none;
  -moz-user-select: none;
}

.Dialoger__Confirm .Confirm__Header .Header__Title {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 1.2rem;
  margin: 0;
  color: #090909;
  text-align: left;
  max-width: calc(100% - 2.5rem);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.Dialoger__Confirm .Confirm__Header .Header__CloseButton {
  width: 2.3rem;
  height: 2.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  overflow: hidden;
  border: none;
  background: none;
  outline: none;
  margin-right: -8px;
}

.Dialoger__Confirm .Confirm__Header .Header__CloseButton svg {
  width: 100%;
  height: 100%;
  fill: #090909;
  transition: 0.2s ease-in-out;
}

.Dialoger__Confirm .Confirm__Header .Header__CloseButton:hover svg {
  fill: var(--dialoger-redalert-color);
  opacity: 0.8;
}

.Dialoger__Confirm .Confirm__Header .Header__CloseButton:active svg {
  transform: scale(0.95);
}

.Dialoger__Confirm .Confirm__Content {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.Dialoger__Confirm .Confirm__Message {
  display: flex;
  width: 100%;
  max-width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 100%;
  flex-direction: column;
  margin-top: 5px;
  margin-bottom: 10px;
}

.Dialoger__Confirm .Confirm__Message p {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: #090909;
  text-align: left;
}

.Dialoger__Confirm .Confirm__Message strong {
  font-weight: 600;
}

.Dialoger__Confirm .Confirm__Message a,
a:visited {
  text-decoration: underline;
  color: #090909;
  font-weight: 500;
}

.Dialoger__Confirm .Confirm__Message a:hover {
  opacity: 0.7;
}

.Dialoger__Confirm .Confirm__Buttons {
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
  gap: 10px;
  margin-top: auto;
  flex-shrink: 0;
  box-sizing: border-box;
  user-select: none;
  -moz-user-select: none;
}

.Dialoger__Confirm .Confirm__Buttons .Confirm__Button {
  border: #090909 solid 1px;
  background-color: #090909;
  color: #ffffff;
  outline: none;
  cursor: pointer;
  padding: 7px 13px;
  border-radius: 0.7rem;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  transition: 0.2s ease-in-out;
  box-sizing: border-box;
  text-align: center;
  align-items: center;
  justify-content: center;
  text-transform: capitalize;
}

.Dialoger__Confirm .Confirm__Buttons .Confirm__Button:active {
  transform: scale(0.95);
}

.Dialoger__Confirm .Confirm__Buttons .Confirm__Button.BtnPos {
  background-color: #090909;
  color: #ffffff;
}

.Dialoger__Confirm .Confirm__Buttons .Confirm__Button.BtnPos:hover {
  background-color: var(--dialoger-greenalert-color);
  color: #ffffff;
  border: var(--dialoger-greenalert-color) solid 1px;
}

.Dialoger__Confirm .Confirm__Buttons .Confirm__Button.BtnNeg {
  background-color: transparent;
  color: #090909;
  border: #090909 solid 1px;
}

.Dialoger__Confirm .Confirm__Buttons .Confirm__Button.BtnNeg:hover {
  background-color: var(--dialoger-redalert-color);
  color: #ffffff;
  border: var(--dialoger-redalert-color) solid 1px;
}

/* Animations */
@keyframes slide-in-top {
  from {
    opacity: 0;
    transform: translateY(-30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes slide-in-bottom {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes slide-out-top {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-30px);
  }
}
@keyframes slide-out-bottom {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(30px);
  }
}

@keyframes opacity-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
